
// @import "foundation";
@import
  "settings",
  "normalize",
  "foundation/components/grid",
  "foundation/components/panels",
  "foundation/components/forms",
  "foundation/components/buttons",
  "foundation/components/top-bar",
  "foundation/components/inline-lists",
  "foundation/components/type";

$experimental-support-for-opera: false;
$experimental-support-for-khtml: false;

@import "compass/css3";

$cover-image-url: "../img/epfl_1.jpg";

.top-bar .name h1 a {
  width: 100%;
}

.top-bar-section ul li.toggle-topbar:hover > a {
  background-color: inherit;
}

.big-lead {
  @extend .lead;
  margin-top: 2em;
  margin-bottom: 2em;
}

.logo {
  height: 2.5em;
  margin-right: 10px;
}

@media #{$screen} and (min-width: 40em) {
  #cover {
    height: 300px;
    background: url($cover-image-url) no-repeat top center;
    @include background-size(cover);
  }
}

#main-content {
  background-color: #FAFAFA;
  .panel {
    background-color: #DDD;
  }
}

#newsletter {
  .panel {
    padding-top: 0.8rem;
  }
}

ul.latest-news small {
  font-size: 0.8em;
  color: #999;
  display: inline-block;
  margin-left: 5px;
  float: right;
}

#newsletter {
  .panel > :first-child {
    margin-bottom: 0.5em;
  }
  .submit {
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

#footer {
  padding-top: 20px;
  &, a {
    color: #fff;
  }
  a:hover {
    color: #999;
  }
}
