<% layout( 'layout' ) -%>

<main id="main-content">

  <div class="row" id="gallery">
    <div class="small-12 columns">
      <h2>Gallery</h2>
    </div>
  </div>
  <div class="row" id="gallery">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <% if( !albums.length ) { %>
        <li>
          <p>There are no albums.</p>
        </li>
      <% } else { %>
        <% for( var i = 0; i < albums.length; i++ ) { var album = albums[ i ]; %>
          <li>
            <a href="/album/<%= album.id %>">
              <img src="https://graph.facebook.com/<%= album.cover_photo %>/picture" alt="" />
            </a>
            <h5><a href="/album/<%= album.id %>"><%= album.name %></a></h5>
          </li>
        <% } %>
      <% } %>
      </ul>
    </div>
  </div>

</main>
