<% layout( 'layout' ) -%>

<main id="main-content">
  <div class="row" id="partners">
    <div class="small-12 columns">
      <h3>Friends</h3>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <li>
          <a href="http://polyprog.epfl.ch/">
            <img src="/img/partners/polyprog.png" alt="PolyProg" />
          </a>
          <h5>PolyProg</h5>
          <p>
            PolyProg's mission is to promote the interests and skills in algorithmic programming within EPFL.
          </p>
          <p class="icons">
            <span class="icon website"></span>
            <a href="http://polyprog.epfl.ch/">polyprog.epfl.ch</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</main>
