<% layout( 'layout' ) -%>

<main id="main-content">
  <div class="row" id="partners">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <li>
          <h3>Sponsors</h3>
          <a href="https://evernote.com/">
            <br><br><br><br>
            <img src="/img/partners/evernote_logo_4c-lrg.png" alt="Evernote" />
            <br><br><br><br><br>
          </a>
          <h5>Evernote</h5>
          <p>
            Evernote® is a platform for human memory, designed to help individuals remember everything™.
          </p>
          <p class="icons">
            <span class="icon website"></span>
            <a href="https://evernote.com/">evernote.com</a>
          </p>
        </li>
        <li>
          <h3>Friends</h3>
          <a href="http://polyprog.epfl.ch/">
            <img src="/img/partners/polyprog.png" alt="PolyProg" />
          </a>
          <h5>PolyProg</h5>
          <p>
            PolyProg's mission is to promote the interests and skills in algorithmic programming within EPFL.
          </p>
          <p class="icons">
            <span class="icon website"></span>
            <a href="http://polyprog.epfl.ch/">polyprog.epfl.ch</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</main>
